<nav class="bg-gray-800 shadow-lg border-b border-indigo-900">
    <div class="container">
        <div class="flex items-center justify-between py-4">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start gap-x-6 gap-y-4 flex-wrap">
                <div class="shrink-0 flex items-center">
                    {% set meta = get_image_metadata(path='images/logo.svg') %}
                    <img src="{{ get_url(path='images/logo.svg') }}" alt="Logo" height="{{ meta.height }}" width="{{ meta.width }}" draggable="false" class="h-8 w-8">
                </div>
                {% if page.path %}
                {% set path = page.path %}
                {% elif section.path %}
                {% set path = section.path %}
                {% else %}
                {% set path = "" %}
                {% endif %}
                <div class="flex space-x-4">
                    <a href="/" class="nav-link{% if path == '/' %} active{% endif %}">
                        <span>Home</span>
                    </a>
                    <a href="/about/" class="nav-link{% if path == '/about/' %} active{% endif %}">
                        <span>About</span>
                    </a>
                    <a href="/contact/" class="nav-link{% if path == '/contact/' %} active{% endif %}">
                        <span>Contact</span>
                    </a>
                    <a href="/rentals/" class="nav-link{% if path == '/rentals/' %} active{% endif %}">
                        <span>Rentals</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>