<div class="relative">
    <div class="relative md:overflow-hidden">
        <div class="absolute inset-0">
            {{ macros_picture::picture(path="content/rentals/Boardroom2.jpg", width=1500, height=750, loading="eager", class="h-full w-full object-cover") }}
            <div class="absolute inset-0 bg-blue-800 mix-blend-multiply bg-opacity-90"></div>
        </div>
        <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8 text-center">
            <h2 class="text-base font-semibold text-yellow-500 tracking-wide uppercase mb-1">Rentals</h2>
            <h1 class="text-white heading-lg">Rent Our Facilities</h1>
            <p class="mb-6 text-indigo-100 subheading">
                Come on in&mdash;we have lots of space for all your needs
            </p>
            <a href="/rentals/" class="inline-flex space-x-3 button-main">
                <span class="h-6 w-6">
                    {{ load_data(path="resources/images/lamp.svg") | safe }}
                </span>
                <span>
                    Learn more
                </span>
            </a>
        </div>
    </div>
</div>
