<div id="contact">
    <div class="max-w-7xl mx-auto py-16 lg:py-24 px-default">
        <div class="divide-y-2 divide-gray-200">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                <div>
                    <h2 class=" heading">
                        Information
                    </h2>
                    <div class="divider"></div>
                </div>
                <div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">
                    <div>
                        <h3 class="text-lg leading-6 font-medium">
                            Sarah Klaiman
                        </h3>
                        <div class="mt-2 text-base">
                            <div class="mb-2 flex space-x-3 items-center">
                                <span class="h-5 w-5 text-gray-500">
                                    {{ load_data(path="resources/images/email.svg") | safe }}
                                </span>
                                <a href="mailto:borochov18@gmail.com" class="styled-link">
                                    borochov18@gmail.com
                                </a>
                            </div>
                            <div class="flex space-x-3 items-center">
                                <span class="h-5 w-5 text-gray-500">
                                    {{ load_data(path="resources/images/phone.svg") | safe }}
                                </span>
                                <a href="tel:4166309444" class="styled-link">
                                    416-630-9444
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg leading-6 font-medium ">
                            Address
                        </h3>
                        <div class="mt-2 text-base">
                            <div>Borochov Cultural Centre &amp; Kol Yisroel Congregation</div>
                            <div>272 Codsell Avenue</div>
                            <div>Toronto, Ontario</div>
                            <div>M3H 3X2</div>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg leading-6 font-medium ">
                            Office Hours
                        </h3>
                        <div class="mt-2 text-base">
                            <table>
                                <tr>
                                    <td>Tuesday</td>
                                    <td class="pl-4">
                                        12pm<span class="text-sm"> &ndash; </span>5pm
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td class="pl-4">
                                        12pm<span class="text-sm"> &ndash; </span>5pm
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td class="pl-4">
                                        12pm<span class="text-sm"> &ndash; </span>5pm
                                    </td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td class="pl-4">
                                        10am<span class="text-sm"> &ndash; </span>2pm
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg leading-6 font-medium ">
                            After Hours
                        </h3>
                        <div class="mt-2 text-base">
                            <p>Please feel free to leave a message or send us an email and we will respond the next business day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
