<div class="bg-blue-900">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
        <div class="divide-y-2 divide-gray-200">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                <h2 class="text-2xl font-bold text-white sm:text-3xl" id="contact">
                    Get in touch
                </h2>
                <div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">
                    <div>
                        <h3 class="text-lg leading-6 font-medium text-white">
                            Sarah Klaiman
                        </h3>
                        <div class="mt-2 text-base text-blue-100">
                            <div>
                                <a href="mailto:borochov18@gmail.com" class="hover:text-white transition-colors duration-200">
                                    borochov18@gmail.com
                                </a>
                            </div>
                            <div>
                                <a href="tel:4166309444" class="hover:text-white transition-colors duration-200">
                                    (416) 630-9444
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg leading-6 font-medium text-white">
                            Address
                        </h3>
                        <div class="mt-2 text-base text-blue-100">
                            <div>Borochov Cultural Centre &amp; Kol Yisroel Congregation</div>
                            <div>272 Codsell Avenue</div>
                            <div>Toronto, Ontario</div>
                            <div>M3H 3X2</div>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg leading-6 font-medium text-white">
                            Office Hours
                        </h3>
                        <div class="mt-2 text-base text-blue-100">
                            <table class=>
                                <tr>
                                    <td>12pm &ndash; 5pm</td>
                                    <td class="pl-3">Tuesday & Thursday</td>
                                </tr>
                                <tr>
                                    <td>10am &ndash; 2pm</td>
                                    <td class="pl-3">Friday</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg leading-6 font-medium text-white">
                            After Hours
                        </h3>
                        <div class="mt-2 text-base text-blue-100">
                            <p>Please feel free to leave a message or send us an e-mail and we will respond the next business day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
