<div class="relative">
    <div class="relative md:overflow-hidden">
        <div class="absolute inset-0">
            <picture>
                {% set image = resize_image(path=current_path~"Ext2.jpg", width=1500, height=750, op="fill", format="webp", quality=75) %}
                <source srcset="{{ image.url }}" type="image/webp">
                {% set image = resize_image(path=current_path~"Ext2.jpg", width=1500, height=750, op="fill") %}
                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy" draggable="false" class="h-full w-full object-cover">
            </picture>
            <div class="absolute inset-0 bg-blue-800 mix-blend-multiply bg-opacity-90"></div>
        </div>
        <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8 text-center">
            <h2 class="text-base font-semibold text-yellow-500 tracking-wide uppercase mb-1">Home to</h2>
            <h1 class="text-white heading-lg">Kol Yisroel Congregation</h1>
            <p class="mb-6 text-indigo-100 subheading">
                Striving to make the joy of Jewish living accessible & relevant to all
            </p>
            <a href="/#contact" class="inline-flex space-x-3 button-main">
                <span class="h-6 w-6">
                    {{ load_data(path="resources/images/email.svg") | safe }}
                </span>
                <span>
                    Contact us
                </span>
            </a>
        </div>
    </div>
</div>
