@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --transition-property-footer: color, filter;
    --height-144: 36rem;
    --list-style-type-arrow: disclosure-closed;
}

@utility container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.divider {
    @apply bg-linear-to-r from-yellow-500 to-yellow-400 pt-1 mt-2 mb-6 w-20 rounded-xs shadow-sm;
}

.heading-lg {
    @apply text-4xl lg:text-5xl xl:text-6xl font-semibold mb-6;
}

.heading {
    @apply text-3xl sm:text-4xl;
}

.subheading {
    @apply text-lg sm:text-xl lg:text-2xl text-balance;
}

.py-hero {
    @apply py-16 sm:py-24 lg:py-32;
}

.button-main {
    @apply text-white bg-yellow-500 hover:bg-yellow-600 font-semibold rounded-lg px-5 py-4 lg:px-8 xl:px-12 transition-colors duration-200 shadow-lg shadow-yellow-500/20;
}

.prose a:hover,
.styled-link:hover {
    @apply transition-colors duration-200;
}

.prose a,
.styled-link {
    @apply duration-200 transition-colors underline underline-offset-[3px] decoration-2 decoration-yellow-500/30 hover:decoration-yellow-500;
}

.nav-link {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium transition-all duration-200 text-sm md:text-base;
}

.nav-link.active span {
    @apply border-b-2 transition-all duration-200 border-gray-300;
    padding-bottom: 1px;
}

.nav-link.active:hover span {
    @apply border-transparent;
    padding-bottom: 3px;
}
