@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    touch-action: pan-x pan-y;
}

.divider {
    @apply bg-gradient-to-r from-yellow-500 to-yellow-400 pt-1 mt-2 mb-6 w-20 rounded-sm shadow;
}

.heading-lg {
    @apply text-4xl lg:text-5xl xl:text-6xl font-semibold mb-6;
}

.heading {
    @apply text-3xl sm:text-4xl;
}

.subheading {
    @apply text-lg sm:text-xl lg:text-2xl;
}

.px-default {
    @apply px-4 sm:px-6 lg:px-8;
}

.button-main {
    @apply text-white bg-yellow-500 hover:bg-yellow-600 font-semibold rounded-lg px-5 py-4 lg:px-8 xl:px-12 shadow-sm transition-colors duration-200;
}

.prose a:hover,
.styled-link:hover {
    @apply border-opacity-100;
}

.prose a,
.styled-link {
    text-decoration-color: rgba(245, 158, 11, var(--tw-border-opacity));
    text-underline-offset: 3px;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    transition-property: text-decoration-color;
    @apply border-opacity-30 duration-200;
}
