{% import 'macros/picture.html' as macros_picture %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path='main.css', cachebust=true) }}">
    <link rel=icon type=image/svg+xml href="{{ get_url(path='images/logo.svg') }}">
</head>

<body class="min-h-screen flex flex-col touch-pan-x touch-pan-y">
    {% include "partials/header.html" %}
    <main class="flex-grow">
        {% block content %}{% endblock content %}
    </main>
    {% include "partials/footer.html" %}
</body>

</html>
