{% extends "base.html" %}

{% block content %}

<main>
    <!-- top section of the page -->
    <div class="px-6 py-4 text-gray-600 bg-white lg:px-8 lg:py-5">

        <!-- hero -->
        <div class="grid max-w-screen-xl grid-cols-2 gap-8 py-6 mx-auto lg:gap-24 md:items-center md:py-12 lg:py-20">
            <div class="relative z-20 order-2 col-span-2 md:col-span-1 md:order-1">
                <h2 class="mb-6 text-2xl font-medium text-gray-800 sm:text-3xl lg:text-4xl xl:text-7xl">Host your next event here</h2>
                <p class="mb-6 text-xl text-gray-600 lg:text-2xl">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the waiting be females upper surface of the impenetrable foliage of my trees</p>
                <a href="#" class="inline-block px-5 py-4 text-lg font-semibold text-white bg-blue-500 rounded-lg lg:py-5 lg:px-8 xl:px-16 md:mt-6">Reserve a time</a>
            </div>

            <div class="relative flex flex-row items-center justify-center order-1 col-span-2 space-x-2 md:col-span-1 md:order-2">
                <picture>
                    {% set image = resize_image(path=current_path~"Ext1.jpg", width=600, op="fit_width", format="webp") %}
                    <source srcset="{{ image.url }}" type="image/webp">
                    {% set image = resize_image(path=current_path~"Ext1.jpg", width=600, op="fit_width") %}
                    <img src="{{ image.url }}" loading="lazy" draggable="false" class="rounded-lg z-20 relative">
                </picture>
                <svg class="absolute max-w-xl text-gray-300 -right-48 bottom-1/3" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.59 132.878C7.932 82.32 16.565 57.248 67.122 32.59s75.63-16.025 100.288 34.532 16.025 75.63-34.532 100.288-75.63 16.025-100.288-34.532" fill="currentColor" />
                </svg>
                <svg class="absolute max-w-md text-gray-200 -left-48 top-2/4" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.9 53.825C80.61 3 95.347 1.19 146.174 40.9S198.81 95.348 159.1 146.175 104.652 198.81 53.825 159.1 1.19 104.652 40.9 53.825" fill="currentColor" />
                </svg>
            </div>
        </div>
        <!--/ hero -->

    </div>
    <!--/ top section of the page -->

    <!-- call out -->
    <div class="relative z-20 px-6 pt-6 text-gray-600 lg:px-8 md:pt-12 md:pb-6">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-2xl font-medium text-center text-gray-700 sm:text-3xl lg:text-4xl xl:text-5xl">Discover how drops. will help your work better with your team and colleagues.</h2>
        </div>
    </div>
    <!--/ call out -->

    {% include "partials/rentals/rooms.html" %}

    {% include "partials/rentals/gallery.html" %}

</main>

{% endblock content %}
