<div class="py-16 bg-gray-50">
    <div class="container mx-auto px-default">
        <div class="text-center pb-6">
            <h2 class="heading text-gray-800">Our Facilities</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for asset in page.assets %}
            {% if asset is matching("[.](jpg)$") %}
            <div class="shadow rounded-lg overflow-hidden">
                <picture>
                    {% set img = resize_image(path=asset, width=600, height=400, op="fill", format="webp", quality=75) %}
                    <source srcset="{{ img.url }}" type="image/webp">
                    {% set img = resize_image(path=asset, width=600, height=400, op="fill") %}
                    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" loading="lazy" draggable="false">
                </picture>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>