<div class="relative h-96" style="height:48rem">
    <div class="h-full overflow-hidden absolute inset-x-0 inset-y-0 z-0">
        <picture>
            {% set image = resize_image(path=current_path~"Ext1.jpg", width=1200, height=800, op="fill", format="webp", quality=75) %}
            <source srcset="{{ image.url }}" type="image/webp">
            {% set image = resize_image(path=current_path~"Ext1.jpg", width=1920, height=800, op="fill") %}
            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy" draggable="false" class="object-cover block w-full h-full">
        </picture>
    </div>
    <div class="absolute z-10 bottom-0 inset-x-0 py-10" style="background:linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.5) 40%,rgba(0,0,0,.8) 100%)">
        <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16 mx-auto text-center">
            <h2 class="text-white heading-lg">Host your next event here</h2>
            <p class="mb-6 text-gray-200 subheading">We welcome and enjoy Bar &amp; Bat Mitzvahs, baby namings and other family celebrations</p>
            <a href="/#contact" class="inline-flex space-x-3 button-main">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                </svg>
                <span>
                    Reserve a date
                </span>
            </a>
        </div>
    </div>
</div>