<div class="py-4 text-gray-600 bg-white px-default lg:py-5">
    <div class="grid max-w-screen-xl grid-cols-2 gap-8 py-6 mx-auto lg:gap-24 md:items-center md:py-12 lg:py-20">
        <div class="relative z-20 order-2 col-span-2 md:col-span-1 md:order-1">
            <h2 class="mb-6 text-gray-800 big-heading font-semibold">Host your next event here</h2>
            <p class="mb-6 text-gray-500 subheading">We welcome and enjoy Bar & Bat Mitzvahs, baby namings and other family celebrations</p>
            <a href="/#contact" class="inline-flex px-5 py-4 space-x-3 font-semibold text-white bg-yellow-500 hover:bg-yellow-600 rounded-lg lg:px-8 xl:px-12 shadow-sm">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <span>
                    Reserve a date
                </span>
            </a>
        </div>
        <div class="relative order-1 col-span-2 space-x-2 md:col-span-1 md:order-2">
            <picture>
                {% set image = resize_image(path=current_path~"Ext1.jpg", width=600, op="fit_width", format="webp") %}
                <source srcset="{{ image.url }}" type="image/webp">
                {% set image = resize_image(path=current_path~"Ext1.jpg", width=600, op="fit_width") %}
                <img src="{{ image.url }}" loading="lazy" draggable="false" class="rounded-lg w-full">
            </picture>
            </dv>
        </div>
    </div>
</div>
